/*
Theme Name: Blockbase Child
Theme URI: https://wordpress.com/theme/blockbase
Template: blockbase
Author: Automattic
Author URI: https://automattic.com/
Description: Blockbase is a simple theme that supports full-site editing. It comes with a set of minimal templates and design settings that can be manipulated through Global Styles. Use it to build something beautiful.
Tags: one-column,custom-colors,custom-menu,custom-logo,editor-style,featured-images,full-site-editing,block-patterns,rtl-language-support,theme-options,threaded-comments,translation-ready,wide-blocks,style-variations
Version: 3.1.21.1767950429
Updated: 2026-01-09 09:20:29

*/

