/* ========================================
   SHOP THE LOOK
======================================== */

.shop-the-look {
    padding: 100px 20px;
    background-color: var(--color-background);
    display: flex;
}

.shop-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-title {
    font-family: var(--font-serif);
    font-size: 48px;
    font-weight: 100;
    letter-spacing: -1px;
    color: var(--color-dark);
    text-align: center;
    margin: 0 0 60px 0;
}

.shop-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.shop-card {
    flex: 1;
    position: relative;
    background: var(--color-background);
    display: flex;
}

.shop-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    position: relative;
}

/* Imagen de fondo */
.shop-card-image {
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
    background: var(--color-corporative);
}

.shop-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

/* ========================================
   CUADRO EXPANDIBLE
======================================== */

.shop-card-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 1/1;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-card-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f3f085;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1), background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    height: 43px; /* Altura del label */
}

.shop-card-box:hover::before {
    height: 100%; /* Se expande al 100% */
    background: #F5F3F0; /* Opacidad total */
}

/* ========================================
   LABEL (visible sin hover)
======================================== */

.shop-card-label {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 10px 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.shop-card-box:hover .shop-card-label {
    opacity: 0;
    pointer-events: none;
}

/* Grupo izquierdo: dot + "COMPRAR" */
.shop-card-label-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Grupo derecho: categoría + flecha */
.shop-card-label-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.shop-card-dot {
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -2px;
}

.shop-card-label-text {
    font-family: var(--font-texts);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--color-dark);
}

.shop-card-category {
    font-family: var(--font-texts);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--color-dark);
    text-transform: uppercase;
}

.shop-card-arrow {
    width: 12px;
    height: 12px;
    stroke: currentColor;
    color: var(--color-dark);
    flex-shrink: 0;
}

/* ========================================
   CONTENIDO HOVER (visible con hover)
======================================== */

.shop-card-hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0.1s;
    padding: 30px;
    justify-content: center;

    background: red !important;

}

.shop-card-box:hover .shop-card-hover-content {
    opacity: 1;
    pointer-events: auto;
}

.shop-card-hover-title {
    font-family: var(--font-texts);
    font-family: var(--font-serif);
    font-size: 26px;
    /* font-weight: 600; */
    /* text-transform: uppercase; */
    font-weight: 200;
    letter-spacing: -0.5px;
    color: var(--color-dark);
    margin: 0 0 4px 0;
}

.shop-card-hover-subtitle {
    font-family: var(--font-texts);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--color-accent);
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.shop-card-hover-image {
    width: 100%;
    max-width: 100%;
    max-height: 50%; /* Limita la altura máxima */
    margin: 0 0 20px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-card-hover-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.shop-card-hover-button {
    display: inline-block;

    font-family: var(--font-texts);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--color-accent);
    text-transform: uppercase;
    padding: 0;
    border: none;
    /* border-bottom: 1px solid var(--color-dark); */
}


/* ========================================
   RESPONSIVE
======================================== */

/* @media (max-width: 1400px) {
    .shop-grid {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        padding-bottom: 20px;
    }
    
    .shop-grid::-webkit-scrollbar {
        display: none; 
    }
    
    .shop-card {
        flex: 0 0 400px;
        min-width: 400px;
    }
}

@media (max-width: 1024px) {
    .shop-the-look {
        padding: 80px 20px;
    }
    
    .shop-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .shop-grid {
        gap: 15px;
        padding: 0 20px 20px 20px;
    }
    
    .shop-card {
        flex: 0 0 350px;
        min-width: 350px;
    }
    
    .shop-card-box {
        width: 70%;
    }
    
    .shop-card-box::before {
        height: 100% !important; 
        background: #f5f3f085 !important; 
    }
    
    .shop-card-label {
        display: none;
    }
    
    .shop-card-hover-content {
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    
    .shop-card-hover-title {
        font-size: 16px;
    }
    
    .shop-card-hover-subtitle {
        font-size: 12px;
    }
    
    .shop-card-hover-image {
        max-height: 45%;
    }
}

@media (max-width: 768px) {
    .shop-the-look {
        padding: 60px 0px;
    }
    
    .shop-title {
        font-size: 40px;
        margin-bottom: 60px;
    }
    
    .shop-grid {
        padding: 0 20px 20px 20px;
    }
    
    .shop-card {
        flex: 0 0 250px;
        min-width: 250px;
    }
    
    .shop-card-box {
        width: 70%;
    }
    
    .shop-card-hover-title {
        font-size: 15px;
    }
    
    .shop-card-hover-subtitle {
        font-size: 11px;
        margin-bottom: 8px;
    }
    
    .shop-card-hover-image {
        max-height: 40%;
        margin-bottom: 15px;
    }
    
    .shop-card-hover-button {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .shop-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .shop-card {
        flex: 0 0 260px;
        min-width: 260px;
    }
    
    .shop-card-box {
        width: 70%;
        padding: 20px;
    }
    
    .shop-card-hover-content {
        padding:  20px;
    }
} */


/* ========================================
   RESPONSIVE
======================================== */

@media (max-width: 1400px) {
    .shop-grid {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 20px;
    }
    
    .shop-grid::-webkit-scrollbar {
        display: none;
    }
    
    .shop-card {
        flex: 0 0 400px;
        min-width: 400px;
    }
}

@media (max-width: 1024px) {
    .shop-the-look {
        padding: 80px 20px;
    }
    
    .shop-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .shop-grid {
        gap: 15px;
        padding: 0 20px 20px 20px;
    }
    
    .shop-card {
        flex: 0 0 350px;
        min-width: 350px;
    }

    /* El box ocupa toda la imagen */
    .shop-card-box {
        width: 70%;
        aspect-ratio: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: auto;
        /* Altura explícita basada en la card */
        height: 70%;
    }
    
    .shop-card-box::before {
        height: 100% !important;
        background: #f5f3f085 !important;
    }
    
    .shop-card-label {
        display: none;
    }
    
    .shop-card-hover-content,
    .shop-card-box:hover .shop-card-hover-content {
        opacity: 1 !important;
        pointer-events: auto !important;
        padding: 20px;
    }
    
    .shop-card-hover-title {
        font-size: 16px;
    }
    
    .shop-card-hover-subtitle {
        font-size: 12px;
    }
    
    .shop-card-hover-image {
        max-height: 45%;
    }
}

@media (max-width: 768px) {
    .shop-the-look {
        padding: 60px 0px;
    }
    
    .shop-title {
        font-size: 40px;
        margin-bottom: 60px;
    }
    
    .shop-grid {
        padding: 0 20px 20px 20px;
    }
    
    .shop-card {
        flex: 0 0 250px;
        min-width: 250px;
    }
    
    .shop-card-box {
        width: 70%;
        height: 65%;
    }
    
    .shop-card-hover-title {
        font-size: 15px;
    }
    
    .shop-card-hover-subtitle {
        font-size: 11px;
        margin-bottom: 8px;
    }
    
    .shop-card-hover-image {
        max-height: 40%;
        margin-bottom: 15px;
    }
    
    .shop-card-hover-button {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .shop-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .shop-card {
        flex: 0 0 260px;
        min-width: 260px;
    }
    
    .shop-card-box {
        width: 70%;
        height: 65%;
        padding: 0;
    }
    
    .shop-card-hover-content {
        padding: 20px;
    }
}